{% extends "header.html" %}
{% block content %}
{#    <div class="container-fluid">#}
{#        {% for i in range(0, products | length) %}#}
{#             {% if i % 4 == 0 %}#}
{#                <div class="row">#}
{#            {% endif %}#}
{#            <div class="col-sm-3">#}
{#                Name: {{ products[i].name }}#}
{#                Price: {{ products[i].price }}#}
{#                <a href="/form/{{ i }}">Buy now</a>#}
{#            </div>#}
{#            {% if i % 4 == 3 %}#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}
